<section>
  <h2>Listado de productos (solo lectura)</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Code</th>
      </tr>
    </thead>
    <tbody>
      {{#if products.length}}
        {{#each products}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.code}}</td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="6">No hay productos cargados.</td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</section>
